{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Add a New Car</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <table class="table table-responsive" style="table-layout: fixed; word-wrap: break-word; overflow-x: auto;">
             <tbody>
              <tr class="table-light">
                  <td class="lead" style="vertical-align: middle;">{{ form.max_capacity.label }}<br><strong>(Driver Excluded)</strong></td>
                <td class="lead" style="vertical-align: middle;">
                    {{ form.max_capacity(size=32, class="lead") }}
                    {% for error in form.max_capacity.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
              </tr>
              <tr class="table-light">
                <td class="lead" style="vertical-align: middle;">{{ form.departure_date.label }}</td>
                <td class="lead" style="vertical-align: middle;">
                    {{ form.departure_date(size=32, class="lead") }}
                    {% for error in form.departure_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
              </tr>
              <tr class="table-light">
                <td class="lead" style="vertical-align: middle;">{{ form.departure_time.label }}</td>
                <td class="lead" style="vertical-align: middle;">
                    {{ form.departure_time(size=32, class="lead") }}
                    {% for error in form.departure_time.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
              </tr>
              <tr class="table-light">
                <td class="lead" style="vertical-align: middle;">{{ form.return_date.label }}</td>
                <td class="lead" style="vertical-align: middle;">
                    {{ form.return_date(size=32, class="lead") }}
                    {% for error in form.return_date.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
              </tr>
              <tr class="table-light">
                <td class="lead" style="vertical-align: middle;">{{ form.return_time.label }}</td>
                <td class="lead" style="vertical-align: middle;">
                    {{ form.return_time(size=32, class="lead") }}
                    {% for error in form.return_time.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
              </tr>
              <tr class="table-light">
                <td class="lead" style="vertical-align: middle;">{{ form.comments.label }}</td>
                <td class="lead" style="vertical-align: middle;">
                    {{ form.comments(size=32, class="lead form-control") }}
                    {% for error in form.comments.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
              </tr>
            </tbody>
        </table>
        <p>{{ form.submit( class="btn btn-primary btn-sm")}}</p>
    </form>
</div>
{% endblock %}
