{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <div class="bs-component">
    <h1 class="display-4 mt-4">Edit car</h1>
    <hr class="my-4">
    <div class="container">
      <form action="" method="post">
        <fieldset>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-group row">
            <!-- Was {{ form.max_capacity.label(class="col col-form-label") }} -->
            <h5><label class="col col-form-label" for="max_capacity">Max Capacity (Driver Excluded)</label></h5> <div class="col">{{ form.max_capacity(class="col col-form-label") }}</div>
            {% for error in form.max_capacity.errors %} <div class="alert alert-danger">{{ error }}</div> {% endfor %}
            <script>$("#max_capacity-max_capacity").val("{{car.max_capacity}}");</script>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <h5 class="mb-1">{{ form.departure_date_time.label }}</h5>
                <div class="input-group date" id="departure_date_time" data-target-input="nearest">{{form.departure_date_time(class="form-control datetimepicker-input", readonly=true)}}
                  <div class="input-group-append" data-target="#departure_date_time" data-toggle="datetimepicker">
                    <div class="input-group-text" id="donothide"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                {% for error in form.departure_date_time.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
              </div>
              <div class="col-sm-5">
                <h5 class="mb-1">{{ form.return_date_time.label }}</h5>
                <div class="input-group date" id="return_date_time" data-target-input="nearest">{{form.return_date_time(class="form-control datetimepicker-input", readonly=true)}}
                  <div class="input-group-append" data-target="#return_date_time" data-toggle="datetimepicker">
                    <div class="input-group-text" id="donothide"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                 {% for error in form.return_date_time.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
              </div>
            </div>
          </fieldset>
          <div class="form-group row">
            <h5>{{ form.comments.label(class="col col-form-label") }} </h5><div class="col-sm-10">{{ form.comments(class="form-control", id="drivercomment") }}</div>
            {% for error in form.comments.errors %} <div class="alert alert-danger">{{ error }}</div> {% endfor %}
            <script> var textarea = document.getElementById('drivercomment'); textarea.innerHTML = "{{ car.driver_comment }}" </script>
          </div>
          {{ form.submit( class="btn btn-primary btn-sm btn-block")}}
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#departure_date_time').datetimepicker({
            icons: {
                time: "fa fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'YYYY-MM-DD HH:mm',
            defaultDate: '{{car.departure_time}}',
            ignoreReadonly: true,
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#return_date_time').datetimepicker({
            icons: {
                time: "fa fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'YYYY-MM-DD HH:mm',
            defaultDate: '{{car.return_time}}',
            ignoreReadonly: true,
        });
    });
</script>
<script>
  $('body').click(function(evt){
  if(!$(evt.target).is('#donothide')) {
      $('.bootstrap-datetimepicker-widget').hide();
   }
  });
</script>
{% endblock %}
