{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <div class="bs-component">
    <h1 class="display-4 mt-4">Edit Team</h1>
    <hr class="my-4">
    <div class="container">
      <form action="" method="post">
        <fieldset>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-group">
            <h5 class="mb-1">{{ form.name.label }}</h5> {{ form.name(class="form-control", id="name") }}
            {% for error in form.name.errors %} <div class="alert alert-danger">{{ error }}</div>{% endfor %}
            <script>$("#name").val("{{org.name}}");</script>
          </div>
          <div class="form-group">
            <h5 class="mb-1">{{ form.sharing.label }}</h5> {{ form.sharing(class="form-control", id="sharing") }}
            <script>$("#sharing").val("{{org.sharing}}");</script>
            {% for error in form.sharing.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
          </div>
          {{ form.submit(class="btn btn-primary btn-sm btn-block")}}
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
