{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <div class="bs-component">
    <h1 class="display-4 mt-4">Add a New Event</h1>
    <hr class="my-4">
    <div class="container">
      <form action="" method="post">
        <fieldset>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-group">
            <h5>{{ form.name.label }}</h5> {{ form.name(class="form-control") }}
            {% for error in form.name.errors %} <div class="alert alert-danger">{{ error }}</div>{% endfor %}
          </div>
          <div class="form-group">
            <h5>{{ form.address.label }}</h5> {{ form.address(class="form-control") }}
            {% for error in form.address.errors %} <div class="alert alert-danger">{{ error }}</div>{% endfor %}
          </div>
          <fieldset class="form-group">
            <div class="row">
              <div class="col-sm-5">
                <h5 class="mb-1">{{ form.start_date_time.label }}</h5>
                <div class="input-group date" id="start_date_time" data-target-input="nearest">{{form.start_date_time(class="form-control datetimepicker-input", readonly=true)}}
                  <div class="input-group-append" data-target="#start_date_time" data-toggle="datetimepicker">
                    <div class="input-group-text" id="donothide"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                {% for error in form.start_date_time.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
              </div>
              <div class="col-sm-5">
                <h5 class="mb-1">{{ form.end_date_time.label }}</h5>
                <div class="input-group date" id="end_date_time" data-target-input="nearest">{{form.end_date_time(class="form-control datetimepicker-input", readonly=true)}}
                  <div class="input-group-append" data-target="#end_date_time" data-toggle="datetimepicker">
                    <div class="input-group-text" id="donothide"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
                 {% for error in form.end_date_time.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
              </div>
            </div>
          </fieldset>
          {{ form.submit(class="btn btn-primary btn-sm btn-block")}}
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#start_date_time').datetimepicker({
            icons: {
                time: "fa fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'YYYY-MM-DD HH:mm',
            defaultDate: '{{timestamp}}',
            ignoreReadonly: true,
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#end_date_time').datetimepicker({
            icons: {
                time: "fa fa-clock",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down"
            },
            format: 'YYYY-MM-DD HH:mm',
            defaultDate: '{{timestamp}}',
            ignoreReadonly: true,
        });
    });
</script>
<script>
  $('body').click(function(evt){
  if(!$(evt.target).is('#donothide')) {
      $('.bootstrap-datetimepicker-widget').hide();
   }
  });
</script>
{% endblock %}
