{% extends "layout.html" %} {% block content %}
<div class="bs-component">
  <div class="jumbotron">
    <h1 class="display-4 mt-4" align="center">Past Events</h1>
    <p class="lead" align="center">Edit the event time to bring it back from history.</p>
    <hr class="mb-4">
    {% for event in events %}
    <div class="card mb-3">
      {% if events|length != 1 %}
      <h3 class="card-header" align="center"><a data-toggle="collapse" href="#event{{ event.id }}"
                                                style="color: inherit; text-decoration: none;">{{event.name}}</a></h3>
      <div class="collapse" id="event{{ event.id }}">
        <div class="card-body">
          {% else %}
          <h3 class="card-header" align="center">{{event.name}}</h3>
          <div class="card-body">
            {% endif %}
            <div class="d-flex justify-content-between">
              <div>
                <h6 class="card-text lead float-left"><strong>Start:</strong>
                  {{datetime.datetime.strftime(event.start_time, '%B %d, %Y at %H:%M')}}</h6>
              </div>
              <div>
                <h6 class="card-text lead float-right"><strong>End: </strong>
                  {{datetime.datetime.strftime(event.end_time, '%B %d, %Y at %H:%M')}}</h6>
              </div>
            </div>
            <h6 class="card-text lead my-2"><strong>Address:</strong> <a
                href="https://maps.google.com/?q={{event.address}}">
              {{event.address}} </a></h6>
            {% for car in event.cars %}
            <hr class="my-3">
            <h5 class="mb-2">
              <div class="d-flex">
                <div>{{car.name}}
                  <small class="text-muted">({{car.username}})</small>
                </div>
                <div class="ml-auto">
                  {% if current_user.is_authenticated %}
                  {% for person in car.riders %}
                  {% if person.username == current_user.id %}
                  <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                          data-target="#leaveRide{{car.id}}">Leave
                    Ride
                  </button>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </h5>
            <div class="bs-component">
              <div class="table-responsive">
                <table class="table table-hover table-sm">
                  <thead>
                  <tr>
                    <th scope="col" class="text-center font-weight-normal">Seats</th>
                    <th scope="col" class="text-center font-weight-normal">Passengers</th>
                    <th scope="col" class="text-center font-weight-normal">Departure</th>
                    <th scope="col" class="text-center font-weight-normal">Return</th>
                    <th scope="col" class="text-center font-weight-normal">Comments</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="table-light">
                    <td class="text-center font-weight-normal">{{car.current_capacity}}/{{car.max_capacity}}</td>
                    <td class="text-center font-weight-normal"> {% for rider in car.riders %}
                      {{rider.name}} ({{rider.username}}) {% endfor %}
                    </td>
                    <td class="text-center font-weight-normal">{{datetime.datetime.strftime(car.departure_time,
                      '%B %d, %Y at %H:%M')}}
                    </td>
                    <td class="text-center font-weight-normal">{{datetime.datetime.strftime(car.return_time,
                      '%B %d, %Y at %H:%M')}}
                    </td>
                    <td class="text-center font-weight-normal">{{car.driver_comment}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {% endfor %}
            <div class="card-footer text-muted">
              <div class="d-flex">
                <div> Hosted By: {{event.creator}}</div>
                <div class="ml-auto">
                  {% if event.creator == current_user.id %}
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-info btn-sm" align="center" href="/edit/eventform/{{event.id}}"
                       id="edit::event::{{event.id}}">Edit
                      Event</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#deleteEvent{{event.id}}">Delete
                      Event
                    </button>
                  </div>
                  <div class="modal" id="deleteEvent{{event.id}}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete Event</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this event?</p>
                        </div>
                        <div class="modal-footer">
                          <form method="get" action="/delete/ride/{{event.id}}" id="delete::ride::{{event.id}}">
                            <button type="submit" class="btn btn-danger">Yes</button>
                          </form>
                          <button type="button" class="btn btn-success" data-dismiss="modal"
                                  aria-label="Close">No
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-3">
      {% endfor %}
    </div>
  </div>
</div>
  {% endblock %}
