{% extends "layout.html" %} {% block content %}
  <div class="bs-component">
    <div class="jumbotron">
      <h1 class="display-4 mt-4" align="center">Events</h1>
      <hr class="mb-4">
      {% for event in events %}
        <div class="card mb-3">
        {% if events|length != 1 %}
          <h3 class="card-header" align="center"><a data-toggle="collapse" href="#event{{ event.id }}"
                                                    style="color: inherit; text-decoration: none;">{{ event.name }}</a>
          </h3>
          <div class="collapse" id="event{{ event.id }}">
          <div class="card-body">
        {% else %}
          <h3 class="card-header" align="center">{{ event.name }}</h3>
          <div class="card-body">
        {% endif %}
      <div class="d-flex justify-content-between">
        <div><h6 class="card-text lead float-left"><strong>Start:</strong>
          {{ datetime.datetime.strftime(event.start_time, '%B %d, %Y at %H:%M') }}</h6></div>
        <div><h6 class="card-text lead float-right"><strong>End: </strong>
          {{ datetime.datetime.strftime(event.end_time, '%B %d, %Y at %H:%M') }}</h6></div>
      </div>
      <h6 class="card-text lead my-2"><strong>Address:</strong> <a
          href="https://maps.google.com/?q={{ event.address }}"> {{ event.address }} </a></h6>
      {% for car in event.cars %}
        <hr class="my-3">
        <h5 class="mb-2">
          <div class="d-flex ">
            <div>{{ car.name }}
              <small class="text-muted">({{ car.username }})</small>
            </div>
            <div class="ml-auto">
              <!-- If you are not in ANY car in ALL cars in the EVENT, then you can join.-->
              {% if auth_dict != None %}
                {% if event.id not in rider_instance %}
                  {% if ((car.current_capacity < car.max_capacity) or (car.max_capacity == 0)) %}
                    <a class="btn btn-primary btn-sm" href="/join/{{ car.id }}/{{ auth_dict['uid'] }}"
                       id="join::{{ car.id }}"
                       type="button">Join Ride</a>
                  {% endif %}
                {% endif %}
                {% for person in car.riders %}
                  {% if person.username == auth_dict["uid"] %}
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#leaveRide{{ car.id }}">Leave Ride
                    </button>
                    <div class="modal" id="leaveRide{{ car.id }}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Leave Ride</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                          </div>
                          <div class="modal-body">
                            <p>Are you sure you want to leave this ride?</p>
                          </div>
                          <div class="modal-footer">
                            <!-- TODO: Probably should not be using form and buttons and rather be using input. -->
                            <!-- <a class="btn btn-primary btn-sm" href="/delete/rider/{{car.id}}/{{auth_dict["uid"]}}" id="delete::rider::{{car.id}}" type="button btn-danger">Yes</a> -->
                            <form method="get" action="/delete/rider/{{ car.id }}/{{ auth_dict[" uid
                          "] }}" id="delete::rider::{{ car.id }}">
                              <button type="submit" class="btn btn-danger">Yes</button>
                            </form>
                            <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">No
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                {% if car.username == auth_dict["uid"] %}
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-info btn-sm" align="center" href="/edit/carform/{{ car.id }}"
                       id="edit::car::{{ car.id }}">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#deleteRide{{ car.id }}">Delete
                    </button>
                  </div>
                  <div class="modal" id="deleteRide{{ car.id }}">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Delete Ride</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                          <p class="font-normal lead">
                            <small>Are you sure you want to delete your ride?</small>
                          </p>
                        </div>
                        <div class="modal-footer">
                          <form method="get" action="/delete/car/{{ car.id }}" id="delete::car::{{ car.id }}">
                            <button type="submit" class="btn btn-danger">Yes</button>
                          </form>
                          <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">No
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </h5>
        <div class="bs-component">
          <div class="table-responsive">
            <table class="table table-hover table-sm">
              <thead>
              <tr>
                <th scope="col" class="text-center font-weight-normal">Seats</th>
                <th scope="col" class="text-center font-weight-normal">Passengers</th>
                <th scope="col" class="text-center font-weight-normal">Departure</th>
                <th scope="col" class="text-center font-weight-normal">Return</th>
                <th scope="col" class="text-center font-weight-normal">Comments</th>
              </tr>
              </thead>
              <tbody>
              <tr class="table-light">
                <td class="text-center font-weight-normal">{{ car.current_capacity }}/{{ car.max_capacity }}</td>
                <td class="text-center font-weight-normal"> {% for rider in car.riders %} {{ rider.name }}
                  ({{ rider.username }}) {% endfor %}
                </td>
                <td class="text-center font-weight-normal">{{ datetime.datetime.strftime(car.departure_time, '%B %d,
                      %Y at %H:%M') }}
                </td>
                <td class="text-center font-weight-normal">{{ datetime.datetime.strftime(car.return_time, '%B %d, %Y
                      at %H:%M') }}
                </td>
                <td class="text-center font-weight-normal">{{ car.driver_comment }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
      <!-- If you already created a ride or are in one, you cannot create one.-->
      {% if auth_dict != None %}{% if event.id not in rider_instance %}
        <hr class="my-3">
        <form method="get" action="/carform/{{ event.id }}" id="ride">
          <button class="btn btn-success btn-sm btn-block my-2" type="submit">Create Ride</button>
        </form>
      {% endif %}{% endif %}
      <div class="card-footer text-muted">
        <div class="d-flex">
          <div> Hosted By: {{ event.creator }}</div>
          <div class="ml-auto">
            {% if event.creator == auth_dict["uid"] %}
              <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-info btn-sm" align="center" href="/edit/eventform/{{ event.id }}"
                   id="edit::event::{{ event.id }}">Edit Event</a>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                        data-target="#deleteEvent{{ event.id }}">Delete Event
                </button>
              </div>
              <div class="modal" id="deleteEvent{{ event.id }}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Delete Event</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete this event?</p>
                    </div>
                    <div class="modal-footer">
                      <form method="get" action="/delete/ride/{{ event.id }}" id="delete::ride::{{ event.id }}">
                        <button type="submit" class="btn btn-danger">Yes</button>
                      </form>
                      <button type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close">No
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
        <hr class="my-3">
      {% endfor %}
      {% if auth_dict != None %}
        <a class="btn btn-primary btn-lg btn-block" align="center" href="/eventform" id="new">Create
          Event</a>{% endif %}
      </div>
      </div>
    </div>
{% endblock %}
