{% extends "layout.html" %}
{% block content %}
<div class="bs-component">
    <div class="jumbotron">
        <h1 class="display-3">Events:</h1>
    {% for event in events %}
        <p class="lead">
            <div class="card mb-3">
                <h3 class="card-header">{{event.name}}</h3>
                <div class="card-body">
                    <h6 class="card-text"> Start: {{event.start_time}}</h6>
                    <h6 class="card-text"> End: {{event.end_time}}</h6>
                    <h6 class="card-text"> Address: {{event.address}}</h6>
                    <ul class="list-group list-group-flush">
                        {% for car in event.cars %}
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">
                                    {{car.name}} ({{car.username}})
                                    &nbsp;&nbsp;
                                    <!--TODO: If you are not in ANY car in ALL cars in the EVENT, then you can join.-->
                                    {% if car.riders == [] %}
                                        <a class="btn btn-primary btn-sm" href="/join/{{car.id}}/{{auth_dict['uid']}}" id="join2::{{car.id}}" type="button">Join Ride</a>
                                    {% endif %}
                                    {% for person in car.riders %}
                                        {% if person.username == auth_dict["uid"] %}
                                            <a class="btn btn-danger btn-sm" href='/delete/rider/{{car.id}}/{{auth_dict["uid"]}}' id="delete::rider::{{car.id}}" type="button">Leave Ride</a>
                                        {% else %}
                                            {% if car.current_capacity < car.max_capacity %}
                                                <a class="btn btn-primary btn-sm" href="/join/{{car.id}}/{{auth_dict['uid']}}" id="join::{{car.id}}" type="button">Join Ride</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if car.username == auth_dict["uid"] %}
                                        <a class="btn btn-danger btn-sm" href="/delete/car/{{car.id}}" id="delete::car::{{car.id}}" type="button">Delete Ride</a>
                                    {% endif %}

                                </h4>
                            </div>
                            <table class="table table-hover" style="table-layout: fixed;">
                                <thead>
                                  <tr>
                                    <th scope="col">Seats Taken</th>
                                    <th scope="col">Departure Time</th>
                                    <th scope="col">Return Time</th>
                                    <th scope="col">Current Passengers</th>
                                    <th scope="col">Driver Comments</th>
                                  </tr>
                                </thead>
                                 <tbody>
                                  <tr class="table-light">
                                    <td>{{car.current_capacity}}/{{car.max_capacity}}</td>
                                    <td>{{car.departure_time}}</td>
                                    <td>{{car.return_time}}</td>
                                    <td>
                                        {% for rider in car.riders %}
                                            {{rider.name}} ({{rider.username}})
                                        {% endfor %}
                                    </td>
                                    <td>{{car.driver_comment}}</td>
                                  </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">
                                    <a class="btn btn-success btn-sm" href="/carform/{{event.id}}" id="ride" type="button">Create Ride</a>
                            </h4>
                        </div>
                    </ul>
                    <div class="card-footer text-muted">
                        Hosted By: {{event.creator}}
                        &nbsp;&nbsp;
                        {% if event.creator == auth_dict["uid"] %}
                            <a class="btn btn-danger btn-sm" href="/delete/ride/{{event.id}}" id="delete::ride::{{event.id}}" type="button">Delete Event</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </p>
<hr class="my-4">
    {% endfor %}
    </div>
</div>
{% endblock %}

