{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <div class="bs-component">
    <h1 class="display-4 mt-4">Create a new Team</h1>
    <hr class="my-4">
    <div class="container">
      <form action="" method="post">
        <fieldset>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="form-group">
            <h5>{{ form.name.label }}</h5> {{ form.name(class="form-control") }}
            {% for error in form.name.errors %} <div class="alert alert-danger">{{ error }}</div>{% endfor %}
          </div>
          <div class="form-group">
            <h5>{{ form.sharing.label }} {{ form.sharing(class="form-control") }}</h5>
            {% for error in form.sharing.errors %} <div class="alert alert-danger">{{ error }}</div>{% endfor %}
          </div>
          {{ form.submit(class="btn btn-primary btn-sm btn-block")}}
        </fieldset>
      </form>
{% endblock %}
