{% extends "layout.html" %}
{% block content %}
    <h1>Add a New Ride</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
    <p>
        {{ form.month.label }}<br>
        {{ form.month(size=32) }}
        {% for error in form.month.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.day.label }}<br>
        {{ form.day(size=32) }}
        {% for error in form.day.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.year.label }}<br>
        {{ form.year(size=32) }}
        {% for error in form.year.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
